<div class="header">
    <h1>About</h1>
</div>

<div class="content">
    <p>
    Hey!  I'm a developer and researcher with a keen interest in human motion, sports engineering, and autonomous robots.  I've spent the last two years at the University of Waterloo completing my MASc in Systems Design Engineering with a <a href="/research#3dgolf">focus on golfer biomechanics</a> and the simulation and modeling of the golf swing.  
    </p>
    <p>
    Outside of school, over the past 2-3 years I've developed a passion for the sport of ultimate frisbee and for sports training in general.  I'm happy to have been able to live out this passion both in my Masters research and also by captaining <a href="http://crashultimate.ca">Crash Ultimate</a> 
    </p>

     <div class="pure-u-1-1 photoDiv">
          <img class="pure-img-responsive" src="/img/DanUltimate.jpg" alt="Playing in the National Final in 2014.">
     </div>

     <p>
     During my undergrad, I worked as a software developer with co-op terms at <a href="http://apple.com">Apple</a>, <a href="http://trimble.com">Trimble</a>, <a href="http://www.crezbasketball.com">CREZ Basketball</a>, and as a researcher in the <a href="http://vip.uwaterloo.ca">Vision and Image Processing Lab</a> at the University of Waterloo.  You can find details of my work experience on my <a href="/DanJohnson.pdf">resume</a>.
     </p>

     <p>
     I'm currently seeking work in a role where I can bring together my technical skills with my passion for athletic performance and training.  
     </p>
</div>
