<div class="home-content">
<div class="header">
    <h1>DAN JOHNSON</h1>
</div>

<div class="content">
    Hey!  I'm a developer and researcher with a keen interest in human motion, <a href="/research#3dgolf">sports engineering</a>, and <a href="/research#NSRRC">autonomous robots</a>.  Check out some of the links on the left to find out more...
</div>
<div>
