<div class="header">
    <h1>Projects</h1>
</div>

<div class="content">

    On my own time, I've done a few programming projects which are listed here.  Most of the source code is available on <a href="http://github.com/proverbialsunrise">my GitHub page</a>.

    <div class="content-subhead">
        <h2><a href="https://github.com/proverbialsunrise/baritonesWebsite">Bearded Baritones Website</a></h2>    
    <div>
    <p>    
        I built a website for my barbershop quartet, the <a href="http://beardedbaritones.com">Bearded Baritones</a> to show off our work and give people a way to contact us.  The site automatically pulls in our upcoming gigs from our Google Calendar and is built using Node.  
    </p>
    
    <div class="content-subhead">
        <h2><a href="http://ddajohnson.com/shooter/shooter.html">Space Shooter</a></h2>
    </div>
    <p>
        In order to learn to use Unity, I built a small shooter game following a tutorial from the Unity folks.  It's not much, but it was a good opportunity to learn about how game engines work and how they can be used for physics simulation.
    </p>
    
    <div class="content-subhead">
        <h2><a href="https://github.com/proverbialsunrise/pystl">pySTL</a> </h2>
    </div> 
    <p>
    As part of my <a href="/research">Masters research</a>, I needed to do a bunch of manipulations to .STL files to generate visualizations of the golfer and club model.  I got frustrated with doing these in high-powered modelling software so I wrote a little python module that reads/writes .STL files and does basic geometric transformations (scaling, rotation, translation).
    </p>


    <div class="content-subhead">
        <h2><a href="https://github.com/proverbialsunrise/hymnalapp">hymnalApp</a></h2>
    </div> 

    <p>
        In 2010 (fresh off my first work term at Apple) I decided I wanted to build an app for viewing hymns for phones.  I got together with a friend, and we built a cross-platform (iOS and Android) application for searching for and viewing hymns from the Mennonite Hymnal.  Unfortunately, we were unable to secure the electronic rights for distribution of the hymn files as the publisher of the Hymnal did not own these rights.  The app contained a cross-platform datalayer built in C++ that was used by both the Android (through the JNI) and iOS (using Objective C++) versions while the UI code for each application was built in the native languages (Java and Objective-C).  
    </p>
    
    
    <div class="content-subhead">
        <h2><a href="https://github.com/proverbialsunrise/weddingsite">weddingWebsite</a> </h2>
    </div> 
    <p>
    I got married in April 2015 and I built this site to let people know the important information about the upcoming event and let them RSVP.  It's built using NodeJS and PureCSS just like the site you're reading right now.  You can visit the completed site at <a href="http://wedding.danandalina.com">wedding.danandalina.com</a>
    </p>
    
    <div class="content-subhead">
        <h2><a href="https://github.com/proverbialsunrise/ultimatestats">ultimateStats</a> (in progress)</h2>
    </div> 


    <p>
    I started building a small iOS app for keeping track of a subset of Ultimate Frisbee statistics as outlined in <a href="http://skydmagazine.com/2011/06/build-championship-ultimate-team-part-3-facts-data/">this article</a>.  I finished the tracking portion, but then got bogged down in my Masters and didn't get the data analysis portion completed.  I hope to return to this project soon as I'm now finishing my graduate work.   
    </p>

</div>
